body{
    margin:0px;
    padding:0px;
}

p{
  margin: 0;
  padding: 0;
}




.top-section {
  background-color: #f37748; /* Color naranja */  
  z-index:-2;
  display: flex;
  flex-direction: column;
  align-items: start;
  position:relative;
  min-height: 400px;
  width: 100%; 
  
  
  
}

.bottom-section {
  background-color: #F5F5F5; /* Color gris claro */
  border-top-left-radius: 70%; /* Ajusta el radio según tus necesidades */
  border-top-right-radius: 10%; /* Ajusta el radio según tus necesidades */
  z-index:1; 
  position:relative;
  height: auto;
  width: 100%;
  
  
 
}

.infoAbajo{
    margin-top: 100px;    
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#f37748;
    font-size: 40px;
}

.top-section {
    top: 0;
  }
  
  .bottom-section {
    bottom: 0;
  }

  .container {
      background-color:#f37748 ;
      height: auto;
      position: relative;      
      z-index: 2;
      width: 100%;
      overflow: hidden;
  }

  .tarta {
    position: absolute;
    top: 0px; /* Ajusta la posición superior según tus necesidades */
    right: 0px; /* Ajusta la posición izquierda según tus necesidades */
    z-index:-1;
    height: 750px;
    width: 650px;
    animation: myAnim2 1s ease 0s 1 normal forwards;     

  }

  .ravioles{
    position: absolute;
    top: 20px; /* Ajusta la posición superior según tus necesidades */
    left: 0px; /* Ajusta la posición izquierda según tus necesidades */
    z-index:1;
    height: 800px;
    animation: myAnim 1s ease 0s 1 normal forwards;
  }

  footer{
    background-color: #f24e1e;
    height: 200px;    
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 25px;
  }

  @keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes myAnim2 {
    0% {
      opacity: 0;      
      transform: translateX(50px); 
    }
  
    100% {
      opacity: 1;      
      transform: translateX(0);
    }
  }

  .tituloTop{
    font-weight: bold;
    font-size: 90px;    
    color: white;

  }

  .spanTop{
    background-color: #84bcda;
    font-weight: lighter;
  }

  .botonTop{
    margin-top: 10px;
    background-color: #84bcda;
    border-radius: 10px;
    width: 250px;
    border: none;
    color: white;
    font-size: 15px;
    height: 50px;
    font-weight: bold;

  }

  .spanFacil{
    font-weight: bold;
  }

  .infoTopAbajo{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;

  }

  .infoTopContainer{
    padding-left:40px ;
    margin-top: 60px;
    margin-left: 40px;
  }

  .menu{
    background-color: white;
    height: 150px;
    color: #f37748;
    display: flex;
    justify-content:space-between ;
    align-items: center;
  }

  .menu img{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 87px;
    width: 150px;
  }

  .menu ul {
    list-style: none;
    display: flex;
    gap:60px;
    font-size: 30px;
    margin-right: 130px;
  }

  footer img{
    width: 247px;
    height: 110px;
  }

  .fa-whatsapp{
    color:#f24e1e;
    background-color: white;
    border-radius: 100px;
    border: 10px solid white;
  }

  .comunicate{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .comunicateSub{
    display: flex;
    gap: 10px;
    align-items: center;
    
  }

  .menuAbajo{

    color:black;
    display: flex;
    align-items: center;
    text-align: center;   
    margin-bottom: 50px; 
    margin-top: 20px;
    
  }

  .menuAbajo ul{
    
    display: flex;    
    gap: 60px;    
    font-size: 25px;
    list-style: none;
    
  }
 

  .info2{
    margin-left: 450px;
    margin-bottom: 50px;
  }

  .info3{
    margin-left: 500px;
    margin-bottom: 50px;
  }

  .iconTitu{
    display:flex;
    align-items: center;
    gap:50px;
  }

  .iconTitu i{   
    
    color: white;
    background-color: #f24e1e;
    border-radius: 100%;
    border: 15px solid #f24e1e;
  }

  .seguinosAbajo{
    margin-top: 100px;
    margin-bottom: 30px;
    color: black;
  }

  .seguinosAbajo i{
    color:white;
    background-color: #f24e1e;
    border-radius: 100%;
    border: 10px solid #f24e1e;
  }

  .iconRedesAbajo{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .bolita{
    color:#f24e1e ;   
  }